<!-- <app-loading *ngIf="showSppiner" ></app-loading>
<div class="container mt-4" style="min-height: 100vh; position: relative; ">
  <div class="card mx-auto chat-header">
        <div class="card-header chat-header-color">
            <div class="navbar navbar-expand p-0">
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item">
                        <a  class="nav-link">
                            <div class="position-relative image-chat">
                                <img src="http://127.0.0.1:8000/storage/images/{{receiver.image}}" width="100%" height="100%"
                                    class=" rounded-circle" alt="">

                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">{{receiver.username}}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a  class="nav-link">
                            <i [routerLink]="['/message']" class="fas fa-times"></i>
                        </a>
                    </li>
                </ul>
              </div>
        </div>







        <div class="card-body p-4 mgOne"  >


           <div *ngFor="let message of messages">
            <div class="d-flex align-items-baseline text-end justify-content-end mb-4" *ngIf="message.senderID == senderID">
                <div class="pe-2">
                    <div>
                        <div class="card card-text d-inline-block p-2 px-3 m-1">{{message.body}}</div>
                    </div>
                </div>
                <div class="position-relative avatar">
                    <img src="http://127.0.0.1:8000/storage/images/{{sender.image}}" width="100%" height="100%"
                        class="rounded-circle" alt="">
                </div>
            </div>


            <div class="d-flex align-items-baseline text-end justify-content-start mb-4" *ngIf="message.senderID != senderID">
              <div class="position-relative avatar">
                <img src="http://127.0.0.1:8000/storage/images/{{receiver.image}}" width="100%" height="100%"
                    class="rounded-circle" alt="">
            </div>

              <div class="pe-2">
                    <div>
                        <div class="card card-text d-inline-block p-2 px-3 m-1">{{message.body}}</div>
                    </div>
                </div>

            </div>
          </div>

        </div>
        <div class="card-footer bg-white position-absolute w-100 bottom-0 m-0 p-1">
            <div class="input-group">

                <input type="text" #messageInput class="form-control border-0" placeholder="Write a message...">
                <div class="input-group-text bg-transparent border-0">
                    <button class="btn btn-light text-secondary" (click)="sendMessage(messageInput.value)">
                        <i class="bi bi-send-fill"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
  <div class="row clearfix">
      <div class="col-lg-12" >
          <div class="card chat-app" >
              <div id="plist" class="people-list" >

                  <ul class="list-unstyled chat-list mt-2 mb-0" >

                      <li class="clearfix" *ngFor="let user of users">
                          <img src="https://rubabikia-project.herokuapp.com/public/images/{{user.image}}" alt="avatar">
                          <div class="about">
                              <div class="name"  (click)="onChatClick(user)" style="color: #474F2F; font-size: 18px;">{{user.name}}</div>

                              <span class="rounded-pill bg-danger badge" style=" font-size: 15px;" *ngIf="user.unseenCountMessages">
                                {{user.unseenCountMessages}}
                                <span class="visually-hidden">New alerts</span>
                              </span>
                          </div>
                      </li>


                  </ul>
              </div>

              <div class="chat" *ngIf="messages != null" >
                  <div class="chat-header clearfix" style="background-color: #ACB992; color: #474F2F;" >
                      <div class="row" >
                          <div class="col-lg-6" >
                              <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                  <img src="https://rubabikia-project.herokuapp.com/public/images/{{receiver.image}}" alt="avatar">
                              </a>

                              <div class="chat-about">
                                  <h6 class="m-b-0" style="color: #474F2F; font-weight: bold; font-size: 18px; ">{{receiver.name}}</h6>
                              </div>
                          </div>

                      </div>
                  </div>

                  <div class="chat-history" #scrollMe style="overflow: auto; height: 70vh;">
                      <ul class="m-b-0" >
                        <div *ngFor="let message of messages" >

                          <div *ngIf="message.body != null">
                          <li class="clearfix" *ngIf="message.senderID == senderID">
                              <div class="message other-message float-right">{{message.body}}</div>
                          </li>

                          <li class="clearfix" *ngIf="message.senderID !== senderID">

                              <div class="message my-message">{{message.body}}</div>
                          </li>
                        </div>
                          </div>

                      </ul>
                  </div>
                  <div class="chat-message clearfix" style="background-color:#ACB992; ">
                      <div class="input-group mb-0" >
                          <div class="input-group-prepend">
                              <span class="input-group-text" (click)="sendMessage(messageInput.value)"><i class="fa fa-send"></i></span>
                          </div>
                          <input type="text" class="form-control"  #messageInput placeholder="Enter text here..." style="background-color:#ACB992;  color:#474F2F; " (keyup.enter)="sendMessage(messageInput.value)">
                      </div>
                  </div>
              </div>





              <div class="chat" *ngIf="messages == null" >
                <div class="chat-history" >
                <p style="height: 80vh; text-align: center; padding-top: 30%; color: #474F2F;">Select a user to start chat</p>
                </div>
            </div>

          </div>
      </div>
  </div>
  </div>

