
<!-- --------------- navbar  -------------------------- -->

<nav class="navbar navbar-expand-md ">
    <div class="container-fluid nav-con">
      <div class="logoo">
        <a class="navbar-brand" id="mybrand" href="#">Rubabicia </a>
        <span><img src="img.png" id="imgg"></span>
      </div>
      
    
      <form class="d-flex">
        <input class="form-control me-2" id="mybtn" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" id="search-word">Search</button>
      </form>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    &#9776;
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
          <li class="nav-item nav-icon">
            <a href="" ><i class="fa fa-heart-o user-ii" alt="Add to favourits"></i></a>
          </li>
          
          <li class="nav-item nav-icon">
              <a class="word" href="">
                <div class="nav-it">
                    <i class="fa fa-user user-i"></i>
                    <h6>MyAccount</h6>
                </div>
              </a>
   
            
            
          </li>
         
         
         
        </ul>
       
      </div>
    </div>
  </nav>
