<div style="min-height: 100vh; position: relative; ">

    <div class="container">


        <div class="container-fluid"  *ngFor="let item of data" >

            <div class="row mt-5 mx-3 mb-3 me-auto" style="background-color:#ACB992;position:relative;">
    
        <div class="col-12 px-5  pt-3 pb-3"   >
        <div class="d-flex align-items-center">
            <button type="button" class="btn-close" id="close" (click)="deleteuser(item.id)" aria-label="Close"></button>
          <div class="flex-shrink-0">
            <img src="http://127.0.0.1:8000/storage/images/{{item.image}}" width="100px" height="100px" class="rounded-circle me-2" alt="...">
          </div>
          <div class="flex-grow-1 ms-3" >
            <strong class="me-auto" style="padding-right: 10px;">{{ item.name}}</strong>
            <!-- <button type="button" class="bb btn" [routerLink]="['/user/',item.user_id]" > Profile</button> -->
            <br>
         {{item.message}}
          </div>
          </div>
          <div class="row">
              <div class="col-1"></div>
              <div class="col-8">
          <form #adminform="ngForm" (ngSubmit)="onSubmit(adminform,item.id)">
            <div class="mb-2 col-md-12 input-group">
             
                <input  required   class="form-control" name="message" ngModel #message="ngModel" >
            </div>
           
            <button class="btn bb btn-success col-md-3" style="background-color: #464E2E;color: white;"   id="search" type="submit">Reply</button>
          </form>
          
          </div>
        </div>
        </div>
        </div>
      </div>


        </div>

        </div>
