<div class="products">
    <div class="small-container">
      <h2>Products</h2>

      <div class="row">
          <div class="mynewform">
          <input  id="mybtn" #seacrhInput class="me-2" [(ngModel)]="searchText" type="search" placeholder="Search by name or your limited price" #tagInput (keyup)="(search())" aria-label="Search">
          <button class="btn btn-outline-success"   id="search" (click)="search()">Search</button>

        </div>
        <div class="col-md-3 col-sm-6" *ngFor="let product of productData | paginate:{itemsPerPage:4,currentPage:page,totalItems:totalLength}">

          <img src="http://127.0.0.1:8000/storage/products/{{product.image}}" height="180px" />
          <h4>{{product.name}}</h4>
          <div class="pri-ic">
            <p>{{product.price}}</p>
            <div class="overlay-iconss">

              <!-- <i class="bi-cart-check-fill"></i> -->
              <!-- <a [routerLink]="['profile',product.id]" style="--i:1"><i class="bi-cart"></i></a> -->
              <!-- <a style="--i:1"><i class="bi-cart-check-fill" [ngClass]="{'bi bi-suit-heart-fill':product.isFav,'bi bi-suit-heart':!product.isFav}"></i></a> -->
              <a [routerLink]="['show',product.id]" style="--i:1"><i class="fa fa-eye"></i></a>
               <a style="--i:3"><i (click)="onFav(product)" [ngClass]="{'bi bi-suit-heart-fill':product.isFav,'bi bi-suit-heart':!product.isFav}"></i></a>
           </div>
           <!-- <i class="bi bi-suit-heart"></i> -->
           <!-- <i class="bi bi-suit-heart-fill"></i> -->
          </div>
        </div>
      </div>
<!-- -----------------pagination---------- -->
<div class="paging">
  <pagination-controls class="page-item" (pageChange)="page = $event"></pagination-controls>
  </div>
      <!-- <div class="paginationn" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div> -->



    </div>

  </div>
