<div class="categories">
  <div class="small-container">
      <div class="category-down">
     <h2>Category</h2>
     <!-- <div class="dropdown">
         <a class=" dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
             &#9776;
         </a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li><a class="dropdown-item" href="#">Shoses</a></li>
           <li><a class="dropdown-item" href="#">games</a></li>
           <li><a class="dropdown-item" href="#">mobiles</a></li>
           <li><a class="dropdown-item" href="#">Something else here</a></li>
         </ul>
     </div> -->
   </div>
     <div class="row">
         <div class="col-4" *ngFor="let category of category| paginate:{itemsPerPage:3,currentPage:page,totalItems:totalLength}" >
           <img src="{{category.image}}" />
           <a href=""><h3>{{category.name}}</h3></a>
         </div>

       </div>
       <div class="paging">
        <pagination-controls class="page-item" (pageChange)="page = $event"></pagination-controls>
        </div>
  </div>



</div>
