<div class="container-fluid" *ngFor="let item of nof.data">
    <div class="row mt-5 mx-3 mb-3" style="background-color:#ACB992">

<div class="col-2"></div>

<div class="col-8 px-5  pt-3 pb-3" >
<div class="d-flex align-items-center">
  <div class="flex-shrink-0">
    <img src="http://127.0.0.1:8000/storage/images/{{item.image}}" width="100px" height="100px" class="rounded-circle me-2" alt="...">
  </div>
  <div class="flex-grow-1 ms-3" >
    <strong class="me-auto"style="color: white;">{{item.username.name}}</strong>
    <br>
    Asked to buy your product
  </div>
  <div class="float-end">
    <button type="button" class="btn btn-primary btn-md" style="background-color:  #464E2E; border-color: #464E2E ;"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
    <button type="button" class="btn btn-danger btn-md" > <i class="fa fa-ban"></i>Reject </button>
  </div>
</div>

<div class="col-2"></div>
</div>
</div>

</div>
