

    <div class="container" >

      <form class="form"   #productform="ngForm">
          <div class="form-group">
          <div class="form-group">
            <label for="">  name</label>
            <input required ngModel class="form-control" type="text" name="pname" #pname="ngModel" minlength="5"  [ngClass]="{'invalid': pname.invalid && pname.touched}">
            <p class="imgerr" *ngIf="pname.invalid && pname.touched && pname.errors?.['required']  ">name is required</p>
            <p class="imgerr" *ngIf="pname.invalid && pname.touched && pname.errors?.['minlength']">name Should be more than 5 character</p>

            <label for="">Description</label>
            <textarea required ngModel class="form-control" name="Description"  #Description="ngModel" id="" cols="30" rows="4"  minlength="15"></textarea>
            <p class="imgerr" *ngIf="Description.invalid && Description.touched && Description.errors?.['minlength']">Description Should be more than 15 character</p>
            <p class="imgerr" *ngIf="Description.invalid && Description.touched && Description.errors?.['required'] ">Description is required</p>
            </div>
             <div class="form-group">
      <label for="">Price</label>
       <input required  class="form-control" ngModel  type="number"  #Price="ngModel" name="Price"  [min]="5"  [ngClass]="{'invalid': pname.invalid && pname.touched}" >
       <p class="imgerr" *ngIf="Price.invalid && Price.touched && Price.errors?.['required']">price  is required</p>
       <p class="imgerr" *ngIf="Price.invalid && Price.touched && Price.errors?.['min']">price Should be more than 5$</p>

      <label for="">Category</label>
      <select required  ngModel #category="ngModel"  class="form-control" name="category"  [ngClass]="{'invalid': category.invalid && category.touched}" >
        <option *ngFor="let category of categoryArray" [value]="category.id"> {{ category.name }} </option>

      </select>
      <div class="imgerr" *ngIf="category.invalid && category.touched &&category.errors?.['required']"> category is required.</div>
          </div>


         <div class="form-group">
         <button   class="btnimges"  #btnimages  onclick="document.getElementById('getFile').click() ">
           select images </button>
           <input class="imageInput"  required  ngModel #images="ngModel" name="images" type='file' id="getFile" style="display:none" [ngClass]="{'invalid': images.invalid && images.touched}">
          <!-- <div class="imgerr" *ngIf="btnimages.onclick && images.invalid &&images.errors?.['required']"> images is required.</div> -->
        </div>

          <div class="form-group btns" >
                        <button href="#" class="btnCancel" routerLink="">Cancel</button>
                        <button href="#" class="btnAdd" [disabled]="!productform.valid" >Add</button>
          </div>
          </div>
      </form>
      </div>




