

    <div class="container" >

      <form class="form"  >
          <div class="form-group">
          <div class="form-group">
                       <label for="">title</label>
                       <input class="form-control" type="text" name="title" id="">

                       <label for="">Description</label>
                       <textarea class="form-control" name="Description" id="" cols="30" rows="4"></textarea>
                      </div>
             <div class="form-group">
      <label for="">Price</label>
      <input class="form-control" type="text" name="Price" id="">


      <label for="">Category</label>
      <select class="form-control" name="" id="">
          <option value="">Arts & Crafts</option>
          <option value="">Automotive</option>
          <option value="">Baby</option>
          <option value="">Books</option>
          <option value="">Eletronics</option>
          <option value="">Women's Fashion</option>
          <option value="">Men's Fashion</option>
          <option value="">Health & Household</option>
          <option value="">Home & Kitchen</option>
          <option value="">Military Accessories</option>
          <option value="">Movies & Television</option>
          <option value="">Sports & Outdoors</option>
          <option value="">Tools & Home Improvement</option>
          <option value="">Toys & Games</option>
      </select>
          </div>
          <div class="form-group">
        <button class="btnimges" onclick="document.getElementById('getFile').click()">
           select images </button>
        <input type='file' id="getFile" style="display:none">
          </div>
          <div class="form-group btns" >
                        <button href="#" class="btnCancel">Cancel</button>
                        <button href="#" class="btnAdd">Add</button>
          </div>
          </div>
      </form>
      </div>

